.c-title {
  text-align: center;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  margin: 16px 0;
  text-transform: uppercase;
  &__pre {
    font-size: 16px;
    line-height: 120%;
    display: block;
    margin-bottom: 32px;
    font-weight: 400;
  }
  &__title {
    font-size: 24px;
    font-weight: 400;
    max-width: 490px;
    margin: 0 auto;
    line-height: 130%;
  }
}
