.c-configurator {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  &__image {
    width: 100%;
  }
  &__image-picture {
    display: block;
    height: 0;
    padding-top: 64.42022%;
    position: relative;
    background-color: #c4c4c4;
  }
  &__image-picture-img {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.15s ease-in-out;
  }
  .c-configurator__selector-colors{
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    padding-bottom: 24px;
    width: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .c-configurator__selector {
    padding-top: 32px;
    position: relative;
    &-subtitle {
        font-weight: 500;
        font-size: 24px;
        padding-bottom: 24px;
    }
}
}

@include desktop {
    .c-configurator {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        justify-content: space-around;
        -webkit-align-items: stretch;
        align-items: stretch;
  &__image {
    width: 70%;
  }}

.c-configurator__selector {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 30%;
    padding-top: 0;
    border: 1px solid #cacaca;
    margin-left: 16px;
   
}
}
