.c-configurator__selector-colors-color {
    width: 70px;
    height: 40px;
    border-radius: 25px;
    margin: 8px;
    cursor: pointer;
    position: relative;
    padding: 6px;
    transition: all .15s ease-in-out;
    background-position: 50%;
    border: 1px solid #bebebe;}
.c-configurator__selector-colors-color--nickel {
    background-color: #cacaca;
    background-image: $nickel-bg;
}